@import '../../../../theme.scss';

.notification-btn {
  cursor: pointer;
}

.notification-btn:hover {
  color: $coffee;
  background-color: $lightgrey;
}

.notification-content {
  background-color: $grey;
  z-index: 300;
  width: 25vw;
}

.label {
  color: $brown;
}

.notification-item {
  white-space: normal;
  &:hover {
    background-color: $lightgrey;
  }
}

.opened {
  background-color: $cream;
}
