<div *ngIf="hasNoStocks">
    <h1>Ajoutez des stocks à votre Watchlist pour les voir apparaître ici!</h1>
</div>
<div *ngIf="!hasNoStocks">
    <div class="watchlistContainer">
        <div *ngFor="let stock of stocks" class="carte" (click)="selectStock(stock, undefined)" [ngClass]="{'selectedStock' : stock === selectedStock}">
            <p>{{stock}}</p>
        </div>
    </div>
    <button type="button" (click)="voirStock()" class="btn btn-dark btnPerso btnInfos">Plus de détails</button>
    <h1 class="floatLeft">{{stockObject['longName']}} ({{selectedStock}})</h1>
    <div class="DashBoardContent">
        <p>Graphique ici</p>
    </div>
</div>
