<div class="error" *ngIf="invalid">Email ou mot de passe invalide.</div>

<mat-form-field appearance="outline">
    <mat-label>Courriel</mat-label>
    <input matInput id="courriel" placeholder="Courriel" [formControl]="email" (keydown.enter)="this.submit()" required>
    <mat-icon matSuffix>alternate_email</mat-icon>
    <mat-hint>Entrez votre adresse courriel.</mat-hint>
    <mat-error *ngIf="this.form.get('email')!.invalid">{{getEmailError()}}</mat-error>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput id="password" [type]="hide ? 'password' : 'text'" [formControl]="pwd" (keydown.enter)="this.submit()" required>
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>Entrez votre mot de passe.</mat-hint>
    <mat-error *ngIf="pwd.invalid">{{getPwdError()}}</mat-error>
</mat-form-field>

<mat-card-actions>
    <button (click)="submit()" fxFill mat-raised-button color="primary">Se connecter</button>
</mat-card-actions>
