<div class="DashBoardContainer">
    <div class="DashBoardContent">
        <h2>Informations: </h2>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="{{email}}"></div>
            <div class="form-group">
                <input class="form-control" placeholder="Prenom"></div>
            <div class="form-group">
                <input class="form-control" placeholder="Nom"></div>
            <button type="submit" class="btn btn-dark">Sauvegarder les changements</button>
        </form>
    </div>
</div>
