<div class="DashBoardContainer">
    <div class="DashBoardContent">
        <button (click)="deconnexion()" class="btn-dark btnPerso float-end">Déconnexion</button>
        <h2>Informations du compte: </h2>
        <div>
            <form (submit)="submitForm()" [formGroup]="form">
                <div class="mb-4">
                    <label for="email">Adresse courriel</label>
                    <input name="email" id="email" class="form-control" formControlName="email" [value]="value('email')"
                        [placeholder]="placeholder('email')" [attr.disabled]="isShow()? true : null">
                    <mat-error *ngIf="!isLoading && this.form.get('email')!.invalid">{{getEmailError()}}</mat-error>
                </div>
                <div class="mb-4">
                    <label for="prenom">Prénom</label>
                    <input name="prenom" id="prenom" class="form-control" formControlName="prenom"
                        [value]="value('prenom')" [placeholder]="placeholder('prenom')"
                        [attr.disabled]="isShow()? true : null">
                </div>
                <div class="mb-4">
                    <label for="nom">Nom</label>
                    <input name="nom" id="nom" class="form-control" formControlName="nom" [value]="value('nom')"
                        [placeholder]="placeholder('nom')" [attr.disabled]="isShow()? true : null">
                </div>
                <button *ngIf="isShow()" type="button" (click)="switch('modify')" class="btn-dark">Modifier mon
                    compte</button>
                <div *ngIf="!isShow()">
                    <button type="button" type="submit" class="btn-dark">Sauvegarder</button>
                    <button type="button" (click)="switch('show')" class="btn-dark ms-2">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>