<div class="DashBoardContainer">
    <div class="DashBoardContent">
        <div class="float-end">
            <form class="d-flex flex-row" [formGroup]="form">
                <div class="p-2">
                    <label for="email">Adresse courriel</label>
                    <input name="email" id="email" class="form-control" formControlName="email"
                        placeholder="exemple@gmail.com">
                    <mat-error *ngIf="this.form.get('email')!.invalid">{{getEmailError()}}</mat-error>
                    <p>{{confirmation}}</p>
                </div>
                <div class="p-2 iconBox">
                    <mat-icon (click)="add()" class="p-2 me-4 iconBtn float-end" mat-list-icon>person_add</mat-icon>
                </div>
            </form>
        </div>
        <div class="d-flex flex-row">
            <h1 class="p-2">Demandes d'amitié - ({{requetes?.length}})</h1>
            <mat-icon (click)="showHide()" class="p-2 me-4 iconBtn" mat-list-icon>{{expandCode}}</mat-icon>
        </div>
        <ul *ngIf="expandCode === 'expand_less'">
            <hr />
            <li class="d-flex flex-row" *ngFor="let requete of requetes">
                <p class="p-2">{{requete.Prenom}} {{requete.Nom}} - ({{requete.Email}})</p>
                <mat-icon (click)="accept(requete.Email, requete.Prenom, requete.Nom)" class="p-2 me-4 iconBtn" mat-list-icon>done</mat-icon>
                <mat-icon (click)="refuse(requete.Email)" class="p-2 me-4 iconBtn" mat-list-icon>close</mat-icon>
            </li>
        </ul>
        <div class="d-flex flex-row">
            <h1 class="p-2"><br>Amis - ({{amis?.length}})</h1>
        </div>
        <ul>
            <hr />
            <li class="d-flex flex-row" *ngFor="let ami of amis">
                <p class="p-2">{{ami.Prenom}} {{ami.Nom}} - ({{ami.Email}})</p>
                <mat-icon (click)="delete(ami.Email)" class="p-2 me-4 iconBtn" mat-list-icon>delete</mat-icon>
            </li>
        </ul>
    </div>
</div>
