<div class="DashBoardContainer">
    <div class="DashBoardContent">
        <div *ngIf="isLoading">
            <h1>Récupération du stock...</h1>
        </div>
        <div *ngIf="!isLoading">
            <div *ngIf="!stock">
                <h1>La compagnie que vous recherchez n'existe pas.</h1>
            </div>
            <div *ngIf="stock">
                <button *ngIf="isWatched" (click)="unwatch()" type="button" class="float-end btn-dark btnBid">Retirer de ma watchlist</button>
                <button *ngIf="!isWatched" (click)="watch()" type="button" class="float-end btn-dark btnBid">Ajouter à ma watchlist</button>
                <button (click)="openModal('recommendstockmodalid')" type="button" class="float-end btn-dark btnBid mx-3">Recommander ce stock</button>
                <h1>{{stock['longName']}} ({{stock['symbol']}})</h1>
                <h3 class="float-end me-5">Nom d'échange complet: {{stock['fullExchangeName']}}</h3>
                <h2>Demande actuelle (bid): {{stock['bid']}} {{stock['currency']}}</h2>
                <h3 class="float-end me-5">Demande moyenne à l'ouverture: {{stock['regularMarketOpen']}}</h3>
                <h2>Demande actuelle (ask): {{stock['ask']}} {{stock['currency']}}</h2>
                <h3 class="float-end me-5">Nombre d'échanges moyen par jour (volume): {{stock['regularMarketVolume']}}</h3>
                <h2>Évaluation moyenne des analystes: {{stock['averageAnalystRating']}}</h2>
                <h3 class="float-end me-5">Moyenne sur les derniers 50 jours: {{stock['fiftyDayAverage']}}</h3>
                <h3>Étalement moyen d'une journée régulière: {{stock['regularMarketDayRange']}}</h3>
                <h3 class="float-end me-5">Moyenne sur les derniers 200 jours: {{stock['twoHundredDayAverage']}}</h3>
                <h3>Étalement sur les 52 dernières semaines: {{stock['fiftyTwoWeekRange']}}</h3>
                <h3 class="float-end me-5">Bid size: {{stock['bidSize']}}</h3>
                <h3>Ask size: {{stock['askSize']}}</h3>
                <hr />
                <h2>Historique des prix</h2>
                <app-chart [code]="stock['symbol']"></app-chart>
            </div>
        </div>
    </div>
</div>

<jw-modal id="recommendstockmodalid">
    <mat-icon (click)="closeModal('recommendstockmodalid')" class="p-2 me-4 iconBtn float-end" mat-list-icon>close</mat-icon>
    <h1>Recommandez ce stock à vos amis!</h1>
    <hr />
    <div *ngIf="amisLoaded" class="friendsWithin">
        <p *ngIf="amis!.length === 0">Veuillez ajouter des amis pour pouvoir recommander un stock!</p>
        <ul *ngIf="amis!.length > 0">
            <li *ngFor="let ami of amis; let i = index" [attr.data-index]="i">
                <mat-icon (click)="sendTo(i);" class="p-2 me-4 float-end {{status![i]}}" mat-list-icon></mat-icon>
                <p>{{ami}}</p>
            </li>
        </ul>
    </div>
</jw-modal>
