<h2>Juste pour vous</h2>

<div class="w-75 m-auto my-5">
    <mat-accordion [togglePosition]="'after'">
        <mat-expansion-panel *ngFor="let screener of screeners">
            <mat-expansion-panel-header>
                <mat-panel-title>{{screener.Title}}</mat-panel-title>
                <mat-panel-description>{{screener.Description}}</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let suggestion of screener.Suggestions" [value]="suggestion.Symbol">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="flex-equal">{{suggestion.Name}} - <strong>{{suggestion.Symbol}}</strong></p>
                        <small class="flex-equal mx-3 text-center">{{suggestion.Ask | float}}</small>
                        <small class="flex-equal mx-2 text-end"
                            [ngClass]="suggestion.Change > 0 ? 'increase' : 'decrease'">{{suggestion.Change | float}}$
                            ({{suggestion.ChangePercent | float}}%)</small>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>