<div class="authentication" fxLayout="row" fxLayoutAlign="center start">
    <mat-card [class.mat-elevation-z24]="true" class="px-0">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
            <button mat-flat-button class="btnPerso" (click)="switchForm('login')"
                [ngClass]="{'active': showLogin}">Connexion</button>
            <button mat-flat-button class="btnPerso" (click)="switchForm('signin')"
                [ngClass]="{'active': showSignin}">S'inscrire</button>
        </mat-card-title>

        <form novalidate #myForm="ngForm" [formGroup]="form" class="example-form" class="px-3">
            <mat-card-content>
                <app-login *ngIf="showLogin" fxLayout="column" [formGroup]="this.form" [pwd]="pwd"
                    [getEmailError]="getEmailError" [getPwdError]="getPwdError" (onSubmit)="onSubmit()">
                </app-login>
                <app-signin *ngIf="showSignin" fxLayout="column" [formGroup]="this.form" [pwd]="pwd" (onSignIn)="onSignIn()" (onSubmit)="onSubmit()"
                    [getEmailError]="getEmailError" [getPwdError]="getPwdError">
                </app-signin>
                <app-reset *ngIf="showReset" fxLayout="column" [formGroup]="this.form" [getEmailError]="getEmailError"
                    (onSubmit)="onSubmit()" (onReset)="onReset()">
                </app-reset>
            </mat-card-content>
        </form>
        <div *ngIf="editor == 'login'">
            <mat-card-footer class="w-100" fxLayoutAlign="end end">
                <button mat-flat-button (click)="switchForm('reset')" [ngClass]="{'active': showReset}">Mot de passe
                    oublié</button>
            </mat-card-footer>
        </div>
    </mat-card>
</div>
