<div class="authentication" fxLayout="row" fxLayoutAlign="center center">
    <mat-card [class.mat-elevation-z24]="true" class="px-0">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
            <a (click)="isLoggingIn = true" [ngClass]="{'active': isLoggingIn}">Connexion</a>
            <a (click)="isLoggingIn = false;" [ngClass]="{'active': !isLoggingIn}">S'inscrire</a>
        </mat-card-title>
        <form class="example-form" class="px-3">
            <mat-card-content fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [formControl]="email" required>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-hint>Entrez votre adresse email.</mat-hint>
                    <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="!isLoggingIn">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Nom" [formControl]="nom" required>
                    <mat-hint>Entrez votre nom.</mat-hint>
                    <mat-error *ngIf="nom.invalid">{{getNomError()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="!isLoggingIn">
                    <mat-label>Prenom</mat-label>
                    <input matInput placeholder="prenom" [formControl]="prenom" required>
                    <mat-hint>Entrez votre prenom.</mat-hint>
                    <mat-error *ngIf="prenom.invalid">{{getPrenomError()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="pwd" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Entrez un mot de passe.</mat-hint>
                    <mat-error *ngIf="pwd.invalid">{{getPwdError()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="isLoggingIn" fxFill mat-raised-button color="primary">Se connecter</button>
                <button *ngIf="!isLoggingIn" fxFill mat-raised-button color="primary">S'inscrire</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>