.mat-nav-list {
  .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
  }
  .chevron-button.rotated {
    transform: rotate(180deg);
  }
}

.trending {
  height: 56px;
  padding: 0 16px; // To mimic the padding of other list-items
  background-image: linear-gradient(
    to right,
    #4d2412,
    #a15736 51%,
    #4d2412 100%
  );
  transition: background-position 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  &::ng-deep .mat-icon {
    padding: 4px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    display: inline-block;
  }
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  &:active {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.55);
  }
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .option-img {
  margin-right: 0;
  margin-left: 8px;
}

.mat-form-field {
  width: 25%;
  transition: 300ms ease-in-out width;
  -webkit-transition: width 300ms ease-in-out;
  padding-bottom: 0;
  &:focus-within {
    width: 35%;
    transition: 300ms ease-in-out width;
    -webkit-transition: width 300ms ease-in-out;
  }
}

::ng-deep .mat-form-field-label {
  padding-left: 0.5rem;
}

input {
  padding-left: 0.5rem;
}

.focus {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}

.unfocus {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.isLoading {
  position: relative;
}
