<mat-sidenav-container autosize class="h-100">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">chevron_right
        </mat-icon>
      </mat-list-item>

      <a class="trending mx-1 d-flex align-items-center" routerLink="trending">
        <mat-icon mat-list-icon>local_fire_department</mat-icon>
        <span *ngIf="isExpanded">Recommend me!</span>
      </a>

      <mat-list-item routerLink="">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'social'">
        <mat-icon mat-list-icon>groups</mat-icon>
        <span *ngIf="isExpanded">Social</span>
      </mat-list-item>

      <mat-list-item routerLink="settings">
        <mat-icon mat-list-icon>manage_accounts</mat-icon>
        <span *ngIf="isExpanded">Compte</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <h1>{{title}}</h1>
    <mat-form-field class="m-auto">
      <mat-label>Rechercher un stock</mat-label>
      <input matInput placeholder="Ex: Apple Inc." aria-label="State" [matAutocomplete]="auto" [formControl]="input"
        (focus)="this.isFocus = true;" (blur)="this.isFocus = false;" (keydown.enter)="search()">
      <img matPrefix src="assets/search.svg" alt="search" [ngClass]="{'focus': this.isFocus, 'unfocus': !this.isFocus}">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="isLoading">
          <ngx-spinner bdColor="#00000000" size="medium" color="#00000080" type="ball-newton-cradle"
            [fullScreen]="false">
          </ngx-spinner>
        </mat-option>
        <mat-option *ngIf="noResult()">
          <span>Aucun résultat...</span>
        </mat-option>
        <ng-container *ngIf="!isLoading && filteredResults?.length">
          <mat-option *ngFor="let result of filteredResults" [value]="result.symbol">
            <span>{{result.name}} <b>({{result.symbol}})</b></span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
    <app-notification-menu></app-notification-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>