<mat-sidenav-container autosize class="h-100">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="''">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'history'">
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <span *ngIf="isExpanded">Wallet</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'search'">
        <mat-icon mat-list-icon>search</mat-icon>
        <span *ngIf="isExpanded">Recherche</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'settings'">
        <mat-icon mat-list-icon>manage_accounts</mat-icon>
        <span *ngIf="isExpanded">Compte</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <h1>{{title}}</h1>
    <mat-form-field floatLabel='never' class="m-auto">
      <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" [formControl]="input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let result of filteredResults" [value]="result.name">
            <span><b>{{result.name}}</b> ({{result.symbol}})</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>