.mat-nav-list {
  .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
  }
  .chevron-button.rotated {
    transform: rotate(180deg);
  }
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .option-img {
  margin-right: 0;
  margin-left: 8px;
}

.mat-form-field {
  width: 50%;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.isLoading {
  position: relative;
}
