.mat-nav-list {
  .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
  }
  .chevron-button.rotated {
    transform: rotate(180deg);
  }
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .option-img {
  margin-right: 0;
  margin-left: 8px;
}

.mat-form-field {
  width: 20%;
  transition: 300ms ease-in-out width;
  -webkit-transition: width 300ms ease-in-out;
  padding-bottom: 0;
  &:hover {
    filter: invert(5%) sepia(86%) saturate(6882%) hue-rotate(242deg)
      brightness(80%) contrast(103%);
    border-color: #071163;
    transition: 300ms ease-in-out color;
    -webkit-transition: color 300ms ease-in-out;
  }
  &:focus-within {
    width: 35%;
    transition: 300ms ease-in-out width;
    -webkit-transition: width 300ms ease-in-out;
  }
}

::ng-deep .mat-form-field-label {
  padding-left: 1.5rem;
}

input {
  background: url("../../../../assets/search.svg") no-repeat left center;
  background-size: 1rem;
  padding-left: 1.5rem;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.isLoading {
  position: relative;
}
