/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

@import "~material-design-icons-iconfont/src/material-design-icons";
@import "./theme.scss";

main {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100%;
  background: $white;
}

button:hover {
  box-shadow: 0px 3px 10px 3px grey;
}

.spacer {
  flex: 1 1 auto;
}
